@use '@/shared/styles/utils' as s;

.add-button {
  cursor: pointer;
  font-weight: 500;
  font-family: s.$primary-font;
  background-color: transparent;
  border: none;
  align-items: center;
  @include s.flex(row, 1rem); 
  
  &__icon-wrapper {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px dashed s.$color-muted;
  }

  &__icon-sm {
    transform: translate(-0.4px, -0.5px);
    
    &--color-muted {
      path {
        stroke: s.$color-muted;
      }
    }
  }

  &__text {
    color: s.$color-muted;
    font-size: 1.2rem;
    font-size: s.$primary-font;
  }
}