@use '@/shared/styles/utils' as s;
@use 'sass:color';

.project-actions {
  position: absolute;
  top: 3.5rem;
  right: 6.5rem;
  background-color: s.$bg-nav;
  border-radius: 0.5rem;
  z-index: 20;
  padding: 1rem 0;
  @include s.flex(column, 0rem);

  &__item {

    &--deleted {
      display: block;
      padding: 0.5rem 2rem;

      &:hover {
        background-color: color.scale(s.$bg-nav, $lightness: 6%);
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5rem 2rem;

    &:hover {
      background-color: color.scale(s.$bg-nav, $lightness: 6%);
    }
  }
}