@use '@/shared/styles/utils' as s;

.verify-code {
  
  justify-content: center;
  align-items: center;
  @include s.flex(column, 1.5rem);

  &__content {
    @include s.flex(row, 1rem); 
  }
  

  &__input {
    background-color: rgba(s.$black, 0.1);
    text-align: center;
    border: 1px solid s.$white;
    padding: 0.2rem;
    width: 4rem;

    font-size: 1.8rem;
  }

  &__text {
    cursor: pointer;
  }
}