@use '@/shared/styles/utils' as s;


.overflow-tooltip {
  padding: 0.5rem 1.3rem; 
  border-radius: 0.5rem;
  background-color: s.$white;

  &--absolute {
    position: absolute;
    bottom: 110%; 
    
  }

  &--static {
    position: static;
  }

  

  &__arrow-icon-wrapper {
    position: absolute;
    
    &--bottom {
      top: 100%;
      left: 20%;
      transform: translate(-50%, -40%) rotate(-90deg);
    }

    &--left {
      top: 50%;
      left: -1%;
      transform: translate(-50%, -50%);
      
    }
  }

  &__icon-md {
    transform: none;
    z-index: 200;
    
    path {
      stroke: s.$white;
      fill: s.$white;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: s.$black;
    text-align: left;
    margin: 0 auto;

    &--compact {
      width: auto;
      white-space: nowrap;
    }

    &--multiline {
      width: 18rem;
      min-width: 0;
      white-space: normal;
    }
  }
}