@use '@/shared/styles/utils' as s;

.auth-layout {
  position: relative;

  [class*="title"] {
    font-size: 2rem;
  }

  [class$="text"]  {
    font-family: s.$secondary-font;
    font-size: 1.4rem;
  }

  [class$="text"][class*="small"]   {
    font-size: 1.3rem;
  }

  [class*="accent"]   {
    color: s.$secondary-color;
  }

  [class*="underline"]   {
    text-decoration: underline;
  }

  [class*="link"] {
    cursor: pointer;
  }
}

