@use '@/shared/styles/utils' as s;

.auth-forms {
  position: relative;
  max-width: 400px;
  @include s.flex(column, 1rem);

  @include s.respond-to("tablet") {
    width: 95%;
  }

  @include s.respond-to("desktop") {
    width: 80%;
  }

  @include s.respond-to("desktop-2") {
    width: 70%;
  }

  &__form {

    @include s.flex(column, 1rem);
  }

  input {
    width: 100%;
  }
}