@use '@/shared/styles/utils' as s;


.header {
  border-bottom: 0.2px solid s.$divider;

  &__content {
    @include s.flex-between(row, 0);
    padding: 2rem 0;
  }

  &__left {
    @include s.flex-between(row, 2rem);

    button[disabled] {
      border: 1px solid white;
      color: white;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  

  &__right {
    @include s.flex-between(row, 1rem);
  }

  &__current-date {
    p {
      font-style: italic;
    }
  }
}