@use '@/shared/styles/utils' as s;

.comments-section {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  @include s.flex(column, 2rem);
  

  &__list {
    @include s.flex(column, 1.5rem);
  }

  &__comment {

    @include s.flex(column, 1rem);
  }

  &__comment-meta {
    align-items: center;
    @include s.flex(row, 0.5rem);

    .dev-card__name {
      font-size: 1.3rem;
    }
  }

  &__comment-time {
    color: s.$text-grey;
    font-size: 1.2rem;
  }

  &__comment-text {
    padding-left: 2.5rem;
    font-size: 1.3rem;
  }

  &__form {
    @include s.flex(column, 1rem);
  }

  &__field-box {
    align-items: start;
    @include s.flex(row, 1rem);
  }

  &__field {
    width: 100%;
    resize: none;
    border: 1px solid s.$border-cards;
    background-color: s.$bg-cards;
    min-height: 8rem;
    font-size: 1.3rem;

    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 1.2rem;
    }
  }

  &__button-submit {
    align-self: flex-end;

    button {
      font-size: 1.3rem;
    }
  }
}