@use '@/shared/styles/utils' as s;

.field-column {


  
  &__input-wrapper {
    border: 1px solid s.$divider;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: s.$text-primary;
    font-family: s.$secondary-font;
    font-size: 1.4rem;
    align-items: center;
    @include s.flex-between(row, 1rem);

    &:focus-within {
      box-shadow: inset 0 0 0 1.5px rgb(0, 0, 0);
    }

    &--error {
      border: 1px solid s.$error-color;
    }
  }

  
  &__icon-wrapper {
    cursor: pointer;
  }
}